@model WebUI.Models.LogOnModel
<div class="text-danger">
    @Html.ValidationSummary(true)
</div>
<div class="form-group @Html.ValidateWithClass("Phone")">

    <input type="text" name="Phone" class="form-control" placeholder="Telefon" value="@Model.Phone" autofocus style="margin-bottom:10px" />
    <small style="" data-bs-validator="notEmpty" class="help-block">@Html.ValidationMessageFor(model => model.Phone)</small>
</div>

<div class="form-group @Html.ValidateWithClass("Password")">

    <input type="password" name="Password" class="form-control" placeholder="Hasło" value="@Model.Password" style="margin-bottom: 10px">
    <small style="" data-bs-validator="notEmpty" class="help-block">@Html.ValidationMessageFor(model => model.Password)</small>
</div>

<button class="btn btn-lg btn-primary btn-block" type="submit" id="signin_btn">Zaloguj</button>
<p>
    <a href="#" onclick="ShowRememberPass()">Nie pamiętam hasła</a>
</p>

