<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - GetTaxi</title>

    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-flash"></span>GetTaxi</a>
            </div>
            <div class="navbar-collapse" style="color: #1e1d1d">
                <div id="account-info-container">
                    @Html.Action("UserBox", "Account")
                </div>
            </div>
        </div>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal_lbl" aria-hidden="true">
            <div class="modal-dialog" style="width: 300px">
                <div class="modal-content">
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="register_modal_lbl" aria-hidden="true">
            <div class="modal-dialog" style="width: 300px">
                <div class="modal-content">
                </div>
            </div>
        </div>
    }

    @RenderSection("jumbotron", required: false)


    <div class="container">
        <!-- Example row of columns -->


        @RenderBody()

        <hr>

        <footer>
            <p>&copy; GetTaxi 2014</p>
        </footer>
    </div>
    <!-- /container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

