@model Data.Domain.Company


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    

    <legend>Exercise @Model.Name details</legend>
    
    @Html.HiddenFor(model => model.CompanyId)
    
    <div class="editor-label">
        Name
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    
    <div class="editor-label">
        Description
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
  
    <p>
        <input class="btn" type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
