@model IEnumerable<Data.Domain.Company>

<p>
    <a href="@Url.Action("Add")" class ="btn btn-success" title="Add">Create new</a>
</p>

<table class="table table-striped">
    <thead>

        <tr>
            <th>Name
            </th>
            <th>Description
            </th>
            <th>Cars
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Car.Count
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId })
                ||
                <a href="@Url.Action("CompanyCars", "Car", new { companyId = item.CompanyId })" title="Company cars">Cars</a>
                ||
                <a href="javascript:Remove(@item.CompanyId)">Delete</a>
            </td>
        </tr>
         
    }
</table>

@Html.Partial("js/Scripts")
